<ion-header>
  <ion-navbar>
    <ion-title>
      Status
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-list *ngFor="let order of allOrders">

  <ion-item  >
	
    <ion-icon name="timer" item-start></ion-icon>
    <span *ngFor="let beverage of beverageList">
    	<span *ngIf="beverage.id == order.productID">{{beverage.name}}</span>
    </span>
	
    <ion-note item-end>
      {{order.deliveryDate}}
      <ion-icon name="trash" item-start  (click)='showConfirm(order.uuid)'></ion-icon>
      </ion-note>
  </ion-item>
</ion-list>
</ion-content>
