<ion-header>
  <ion-navbar>
    <ion-title>
      Status
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-list *ngFor="let order of allOrders">
  <ion-item  >
    <ion-icon name="timer" item-start></ion-icon>
	<ion-label>{{order.productName}}</ion-label>
    <ion-datetime displayFormat="D.MM.YYYY H:mm" [(ngModel)]="order.deliveryDate"></ion-datetime>
    <ion-note item-end>
      <ion-icon name="trash" item-start  (click)='showConfirm(order.uuid)'></ion-icon>
      </ion-note>
  </ion-item>
</ion-list>
<span>Fertige:</span>
<ion-list *ngFor="let finished of finishedOrders">
  <ion-item  >
    <ion-icon name="timer" item-start></ion-icon>
	<ion-label>{{finished.productName}} - {{finished-tocoffeemachinetime}}</ion-label>
    <ion-datetime displayFormat="D.MM.YYYY H:mm" [(ngModel)]="finished.tocoffeemachinetime"></ion-datetime>
    <ion-note item-end></ion-note>
      
  </ion-item>
</ion-list>
</ion-content>
