<ion-header>
  <ion-navbar>
    <ion-title>
      Status
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-label>Offene Bestellungen:</ion-label>
<ion-list >
  <ion-item *ngFor="let order of allOrders" >
    <ion-icon name="timer" item-start></ion-icon>
	<ion-label>{{order.productName}}</ion-label>
	<ion-label >{{order.deliveryDate | date: 'dd.MM HH:mm' }}</ion-label>
	
    <ion-note item-end>
    
      <ion-icon name="trash" item-start  (click)='showConfirm(order.uuid)'></ion-icon>
     </ion-note>
  </ion-item>
</ion-list>
<ion-label>Abgeschlossene Bestellungen:</ion-label>
<ion-list >
  <ion-item  *ngFor="let finished of finishedOrders">
    <ion-icon name="done-all" item-start></ion-icon>
	<ion-label>{{finished.productName}} </ion-label>

    <ion-note item-end><ion-label>{{finished.tocoffeemachinetime | date: 'dd.MM.yyyy HH:mm' }}</ion-label></ion-note>
      
  </ion-item>
</ion-list>
</ion-content>
